$gb-color-black-dark: #333333;
$gb-color-black: #474747;
$gb-color-red: #FF4030;
$gb-color-white: #ffffff;
$gb-color-grey: #555555;
$gb-color-grey-light: #ced4da;
$gb-color-grey-dark: #4D4F5C;
$gb-color-green: #27debf;
$gb-color-white-light: #f4f6f8;
