$font-klavika-lt: "Klavika Lt", sans-serif;
$font-klavika-md: "Klavika Md", sans-serif;
$font-klavika-bd: "Klavika Bd", sans-serif;

$font-roboto-thin: "Roboto-thin", sans-serif;
$font-roboto-lt: "Roboto-lt", sans-serif;
$font-roboto-rg: "Roboto-rg", sans-serif;
$font-roboto-md: "Roboto-md", sans-serif;
$font-roboto-bd: "Roboto-bd", sans-serif;
$font-roboto-ebd: "Roboto-ebd", sans-serif;

$font-josefin-sans: "Josefin Sans", sans-serif;
$font-josefin-sans-md: "Josefin Sans Md", sans-serif;
$font-josefin-sans-bd: "Josefin Sans Bd", sans-serif;
